@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

html, body {
  height: 100%;                /* asegura que ocupe toda la pantalla */
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e0606;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Metal Mania", system-ui;
}

.titulo {
  color: #ffcccc;
  background-color: #2e0606;
  text-align: center;
  padding: 10px;
  font-size: 85px;
  margin: 10px;
  border-radius: 10px;
}

.subtitulo {
  color: #ffcccc;
  background-color: #2e0606;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px;
}

.logo-fijo {
    width: 350px;
    height: auto;
    border-radius: 15px;
    display: block;
     margin: 20px auto;
}

.comenzar {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: #4e0b0b;
    color: #ffcccc;
    margin: 50px;
    border: 2px, solid;
    font-family: "Metal Mania", system-ui;
    font-size: large;
}

.comenzar:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.jugadores {
    display: block;
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #ffcccc;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

input[type="number"] {
    background-color: #2e0606;
    font-family: "Metal Mania", system-ui;
    font-size: large;
    color: #ffcccc;
    width: 180px;
}

.impostores {
    display: block;
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #ffcccc;
    text-align: center;
}

.tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.categorias {
    background-color: #680d0d81;
    color: #ffcccc;
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    transition: transform 0.3s;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px, solid;
    font-family: "Metal Mania", system-ui;
}

.categorias:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.categorias img {
  width: 250px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.boton-iniciar {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  background-color: #4e0b0b;
  color: #ffcccc;
  margin: 50px auto;
  border: 2px, solid;
  font-family: "Metal Mania", system-ui;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-iniciar:hover {
  transform: scale(1.05);
  cursor: pointer;
}

input:checked + label {
  background-color: #2e0606;;
  color: #ffcccc;
}

.asignar-rol {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  background-color: #4e0b0b;
  color: #ffcccc;
  margin: 50px auto;
  border: 2px, solid;
  font-family: "Metal Mania", system-ui;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asignar-rol:hover {
  transform: scale(1.05);
  cursor: pointer;
}

video {
  display: block;
  width: 600px;
  height: auto;
}

.titulo-final {
  color: #ffcccc;
  background-color: #2e0606;
  text-align: center;
  padding: 10px;
  font-size: 60px;
  margin: 10px;
  border-radius: 10px;
}

.card {
  width: 40vw;
  min-width: 600px;
  height: 70vh;
  background-color: #4e0b0b;
  color: #ffcccc;
  margin: 100px;
  font-family: "Metal Mania", system-ui;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  background: transparent;     /* saca cualquier color de fondo */
  border: none;                /* elimina el borde del contenedor */
  box-shadow: none;            /* quita sombra general */
}

.card input {
  display: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  background: transparent;
}

.card-inner.rotated {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F2E9E4;
  font-size: 20px;
  border-radius: 20px;
}

.card-front {
  background: #2E2E2E;
}

.card-back {
  background: #7A0C0C;
  transform: rotateY(180deg);
}


.descubrir-impostor {
  width: 470px;
  height: 80px;
  border-radius: 20px;
  background-color: #4e0b0b;
  color: #ffcccc;
  margin: 50px auto;
  border: 2px, solid;
  font-family: "Metal Mania", system-ui;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descubrir-impostor:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#boton-final {
  width: 400px;
  height: 50px;
  border-radius: 20px;
  background-color: #4e0b0b;
  color: #ffcccc;
  margin: 50px auto;
  border: 2px, solid;
  font-family: "Metal Mania", system-ui;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}